<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short URL</title>

    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>

  <body>
    <!-- NAVBAR -->
    <nav>
      <div class="logo">MySite</div>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="#">Shorten</a>
        <a href="/status">status</a>
      </div>
    </nav>

    <!-- SHORT URL SECTION -->
    <main class="shortener">
      <h1>Shorten Your URL</h1>
      <p>Paste a long URL and generate a clean, short link.</p>

      <div class="shortener-box">
        <form action="/url/" method="post">
          <input
            type="url"
            name="original_url"
            placeholder="https://example.com/very/long/url"
            required
          />
          <button type="submit">Generate</button>
        </form>
      </div>

      <!-- RESULT BOX -->

      <br />
      <% if (typeof shortId !== 'undefined') { %>
      <div class="result" id="res">
        <span>Your short URL</span>
        <div class="result-box">
          <p>http://localhost:8000/url/<%= shortId %></p>

          <button>Copy</button>
        </div>
      </div>
      <% } %>
    </main>
  </body>
</html>
