<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %> <%- include("./partials/nav") %>
    <title>Blogify</title>
  </head>
  <body>
    <h1>Home</h1>
    <%- include("./partials/script") %>
  </body>
</html>
